body {
    border: 0px;
    padding: 0px;
    margin: 0px;
    background-color: #FAFBFB ;
    font-family: sans-serif;
} 

.home{
    justify-content: space-between;
    padding: 15px;
    display: flex;
    align-items: center;
}

.jumbotron img {
    width: 40%;
    padding-right:30px ;
}

.bx-user-circle{
    color: #2F4699;
    size: 40px;}


.btn {
border-radius: 20px;
border-style: solid;
border-color: #D9D9D9;
background-color: #D9D9D9;
cursor: pointer;
font-size: 10px;
padding-top:2px;
padding-bottom: 2px;
color: #6E6E6E;
margin: 5px;
}
      
      /* Add a light grey background on mouse-over */
.btn:hover {
border-color: #74BCFF;
background-color:#74BCFF;
color: #fff;
}
      
      /* Add a dark background to the active button */
.btn-active {
border-radius: 20px;
border-style: solid;
border-color: #74BCFF;
background-color:#74BCFF;
cursor: pointer;
font-size: 10px;
padding-top:2px;
padding-bottom: 2px;
color: #fff;
margin: 5px;
}


.myBtnContainer{
    color: #74BCFF;
    font-size: 8px;
    margin-right:40px;
    display: flex;
    flex-direction: column;
}

.myBtnContainer h3{
    margin: 5px;
    font-size: 12px;
    color: #5B5959 ;
}

#filter{
    color: #fff;
    width: 80px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #74BCFF;
    border-radius: 15px;
    text-align: center;
    justify-content: space-between;
}

.bxs-filter-alt{
    margin-top: 2px;
    padding-left: 4px;
}

.login-status h3{
    font-style: italic;
    font-size: 12px;
    font-weight: 100;
    margin-left: 1350px;
}

.kolom2{
    margin:auto;
    margin-top: 20px;
    position: relative;
    display:flex;
    justify-content: space-between;
    width: 90%;
    }

.kolom3{
    margin-left: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}

.container{
    width: 900px;
    margin-bottom: 17px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    height: 135px;
    flex-direction: row;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kolom3 img{
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px;
    width: 180px;
    height: 135px;
}

.info{
margin-left: 15px;
margin-right: 30px;
}

.info h1{
    margin-bottom: -4px;
    color: #2F4699;
    font-size: 20px;
}

.info h2{
    color: #6F7076;
    font-size: 12px;
    margin-bottom: -7px;
}

.bxs-map{
    color:grey;
    width: 30px;
}

.info h3{
    color: #6F7076;
    font-size: 11px;
    word-spacing: 4px;
    margin-bottom: -10px;
}


.info h4{
    color: #6F7076;
    font-size: 11px;
    word-spacing: 4px;
    margin-bottom: -9px;
}

.info h5{
    color: #269D12;
    font-size: 10px;
    font-style:italic;
}

.bxs-like{
    color: #269D12;
    width: 15px;
}

.list-kantin{
    margin-left: -50px;
}

a:link {
    text-decoration: none;
}

a:hover{
    background-color: #74BCFF;
}

.add-btn{
    margin-bottom: 30px;
    align-items: center;
    margin-left: 820px;
    font-size: 15px;
    font-weight: 900;
    width: 80px;
    border-style: solid;
    border-radius: 15px;
    color: #2F4699;
    border-color: #EDEDED;
    background-color: #EDEDED;
    padding-left: 10px;
    padding-right: 10px;
}


.addmenu-btn{
    margin-top: 50px;
    align-items: center;
    margin-left: 820px;
    font-size: 15px;
    font-weight: 900;
    width: 80px;
    border-style: solid;
    border-radius: 15px;
    color: #2F4699;
    border-color: #EDEDED;
    background-color: #EDEDED;
    padding-left: 10px;
    padding-right: 17px;
}